/*
 * Cosmetics
 */
.scrollscreen-track {
    /* width of track, 18px should cover default track on MacOS and Windows */
    width:18px;
    background:#bebec1;
}

.scrollscreen-slider {
    /* space between slider and track */
    padding:.25em;
}

.scrollscreen-slider::after {
    /* slider style */
    background:#5f6165;
    border-radius:9999em;
}


/**
 * Layout
 */
.scrollscreen	{
	position:relative;
}

.scrollscreen-track {
    position:absolute;
    right:0;
    top:0;
    height:100%;
    pointer-events:none;
}

*[dir='rtl'] .scrollscreen-track {
    left:0;
    right:auto;
}

.scrollscreen-slider {
    position:absolute;
    top:0;
    left:0;
    right:0;
    box-sizing:border-box;
    height:0;
    border:none;
    background:transparent;
    pointer-events:none;
}

.scrollscreen-slider::after {
    content:'';
    display:block;
    width:100%;
    height:100%;
}

.scrollscreen-content {
    position:relative;
    height:100%;
    overflow-x:hidden;
    overflow-y:auto;
}